<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPractice"
        tools:targetApi="31">
        <activity
            android:name=".components.SliderActivity"
            android:exported="false" />
        <activity
            android:name=".components.ProgressIndicatorActivity"
            android:exported="false" />
        <activity
            android:name=".components.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".components.ChipActivity"
            android:exported="false" />
        <activity
            android:name=".components.CardActivity"
            android:exported="false" />
        <activity
            android:name=".components.ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".components.AppBarActivity"
            android:exported="false"
            android:label="@string/title_activity_app_bar"
            android:theme="@style/Theme.JetPractice" />
        <activity
            android:name=".components.ScaffoldActivity"
            android:exported="false"
            android:label="@string/title_activity_scaffold"
            android:theme="@style/Theme.JetPractice" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetPractice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>